#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.page-container {
  padding: 40px;
  color: rgb(255, 0, 0);
  background-color: #121212;
  min-height: 100vh;
  text-align: center;
}

.settings-section {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 12px;
}

.toggle input[type="checkbox"] {
  display: none;
}

.toggle .slider {
  width: 50px;
  height: 25px;
  background: #888;
  border-radius: 25px;
  position: relative;
  cursor: pointer;
  transition: background 0.3s;
}

.toggle .slider::after {
  content: "";
  width: 21px;
  height: 21px;
  background: white;
  border-radius: 50%;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: 0.3s;
}

.toggle input:checked + .slider {
  background: #1e90ff;
}

.toggle input:checked + .slider::after {
  transform: translateX(25px);
}

.label-text {
  font-size: 18px;
}

.nav-buttons {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.btn {
  background: #1e90ff;
  color: white;
  padding: 10px 16px;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.2s ease;
}

.btn:hover {
  background: #0f68c9;
}

body {
  margin: 0;
  padding: 0;
  background: black;
  overflow-x: hidden;
}

/* App-Fitting to full screen */
html, body, #root, .page-container {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

/* to ensure mapview fills*/
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Stretching leaflet's container */
.leaflet-container {
  width: 107% !important;
  height: 100% !important;
}
.leaflet-control-minimap {
  right: 10px !important;
  bottom: 10px !important;
  position: absolute !important;
  z-index: 999 !important;
}
